on mmi-priority
    # Only high priority MMI DLKMs loaded here
    # For instance, sensor_class referenced from several DLKMs
    # and needs to load first. Touchscreen might need extra time
    # to perform firmware update if necessary
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules mmi_annotate mmi_info mmi_sys_temp

on fs
    # Majority of MMI DLKMs should be in this group
    insmod /vendor/lib/modules/cci_intf.ko
    insmod /vendor/lib/modules/nova_0flash_mmi.ko
    insmod /vendor/lib/modules/ili9882_mmi.ko
    insmod /vendor/lib/modules/qpnp_adaptive_charge.ko
    insmod /vendor/lib/modules/qpnp-power-on-mmi.ko
    insmod /vendor/lib/modules/sensors_class.ko
    insmod /vendor/lib/modules/sx933x_sar.ko

    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules audio_snd_soc_aw882xx

service capsense_reset /system/vendor/bin/capsense_reset
    class core
    user system
    group system input
    disabled

on property:sys.boot_completed=1
    start capsense_reset

service vendor.mmi-laser-sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot

on property:ro.vendor.hw.batt="6000"
    setprop persist.vendor.audio.calfile0 /vendor/etc/acdbdata/power/Bluetooth_cal.acdb
    setprop persist.vendor.audio.calfile1 /vendor/etc/acdbdata/power/General_cal.acdb
    setprop persist.vendor.audio.calfile2 /vendor/etc/acdbdata/power/Global_cal.acdb
    setprop persist.vendor.audio.calfile3 /vendor/etc/acdbdata/power/Handset_cal.acdb
    setprop persist.vendor.audio.calfile4 /vendor/etc/acdbdata/power/Hdmi_cal.acdb
    setprop persist.vendor.audio.calfile5 /vendor/etc/acdbdata/power/Headset_cal.acdb
    setprop persist.vendor.audio.calfile6 /vendor/etc/acdbdata/power/Speaker_cal.acdb
